@import '../../styles.scss';

app-dialog > mat-divider {
  margin: 10px 0 !important;
}

div.mat-dialog-content {
  background-color: $dialog-content-bg;
  padding: 10px 24px;
  -moz-box-shadow:    inset 0 0 10px #00000023;
  -webkit-box-shadow: inset 0 0 10px #00000023;
  box-shadow:         inset 0 0 10px #00000023;
}

.wp-block-img > img {
  width: 100%;
}

.wp-block-video > video {
  width: 100%;
}

.mat-dialog-actions > button {
  color: black;
}
